
@{
    ViewData["Title"] = "Check";
    Layout = "_Content";
}

<h1>Check</h1>

<h2 class="text-primary">@ViewBag.username</h2>
<h2 class="text-primary">@ViewBag.fname</h2>
<h2 class="text-primary">@ViewBag.present</h2>
<h2 class="text-primary">@ViewBag.parmanent</h2>
<h2 class="text-primary">@ViewBag.phone</h2>
<h2 class="text-primary">@ViewBag.email</h2>

