@*@model IEnumerable<FileDetail>*@
@model IEnumerable<WebApplication1.Models.FileDetail>
@{
    ViewData["Title"] = "FileListModels";
}

<h1>File List Models</h1>
<h2>Data pass with Model</h2>

<div class="row">
    <div class="col-md-12">
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Extension</th>
                    <th>Path</th>
                    @*<th>Size</th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Extension</td>
                        @*<td>@item.Size</td>*@
                        <td>@item.Path</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

