@model WebApplication1.Models.Person
@{
    ViewData["Title"] = "SinglePerson";
}

<h1>Single Person</h1>
<h2>Data pass with Model</h2>

<h3 class="text-info">@Model.Id</h3>
<h3 class="text-info">@Model.Name</h3>
<h3 class="text-info">@Model.Age</h3>
<h3 class="text-info">@Model.Phone</h3>
<h3 class="text-info">@Model.Country</h3>

